.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
	gap: 10px;
	/* grid-template-areas: "main"; */
}

.card {
	width: 200px;
	height: 50px;
	border: 1px solid black;

	position: relative;

	display: flex;
	flex-direction: column;
}

.card-detail {
	position: absolute;
	bottom: 100%;           /* 默认显示在上方 */
	left: 50%;

	display: none;

	transform: translateX(-50%);
	background: #1f2937;

	color: white;
	padding: 12px;
	border-radius: 12px;
	white-space: nowrap;
	font-size: 14px;
	z-index: 100;
	opacity: 0;

	transition: opacity 0.2s ease, visibility 0.2s;
	pointer-events: none;   /* 避免浮层干扰鼠标事件，以至于无法移入浮层 */
	margin-bottom: 8px;
}


.card:hover .card-detail {
	/* opacity: 1;
	visibility: visible; */
	display: block;
}
