

.environment



autom4te.cache/**
.deps/**

configure
configure~

config.sub
config.sub~

config.guess
config.guess~

config.h.in~
install-sh
install-sh~
INSTALL
compile
depcomp
missing
config.log
autoscan.log
config.status
configure
aclocal.m4
