#a1 {
    color: AliceBlue; /*  #F0F8FF */
}


#a2 {
    color: AntiqueWhite; /* #FAEBD7 */
}

#a3 {
    color: Aqua; /* #00FFFF */
}

#a4 {
    color: Aquamarine; /* #7FFFD4 */
}


#a5 {
    color: Azure; /* #F0FFFF */
}


#b1 {
    color: Beige; /* #F5F5DC */
}

#b2 {
    color: Bisque; /* #FFE4C4 */
}

#b3 {
    color: Black; /* #000000 */
}


#b4 {
    color: BlanchedAlmond; /* #FFEBCD */
}








/*

* color
* background-color
* background-image
* border-color





 */

/* https://www.w3schools.com/cssref/css_colors.php  */