## autoscan
autoscan.log
## autoreconf
autom4te.cache
configure
## configure
config.log
config.status
## bootstrap
aclocal.m4
install-sh
missing
INSTALL
COPYING
configure.ac
compile
depcomp
Makefile.in
configure~
# configure
Makefile
config.sub
# make
.deps/
# configure
config.guess
config.lt
libtool
ltmain.sh
#
config.h
config.h.in
stamp-h1
